@page "/"

<Title Level="1">Добро пожаловать в приложение "Виртуальная ёлка"</Title>
<Paragraph>Это приложение, в котором вы можете посадить виртуальную ёлку, которая будет расти даже в ваше отсутствие</Paragraph>
<Title Level="2">Что нужно сделать, чтобы посадить ёлку ?</Title>
<Paragraph>Достаточно просто зарегистрироваться на сайте</Paragraph>